[package]
edition = "2024"
name = "nrf52_rust_primer"

[features]
default = ["nrf"]      # "nrf" is enabled by default
nrf = ["embassy-nrf"]
stm32 = ["embassy-stm32"]

[[bin]]
name = "blinky"
path = "src/blinky.rs"

[[bin]]
name = "i2c_scan"
path = "src/i2c_scan.rs"

[[bin]]
name = "chip_read"
path = "src/chip_read.rs"

[profile.dev]
debug = 2
opt-level = 1

[profile.release]
debug = 2

[dependencies]
embassy-futures = { version = "0.1.2"}
embassy-sync = { version = "0.7.2", features = ["defmt"] }
embassy-executor = { version = "0.9.0", features = ["arch-cortex-m", "executor-thread", "executor-interrupt", "defmt"] }
embassy-time = { version = "0.5.0", features = ["defmt", "defmt-timestamp-uptime"] }
embassy-nrf = { version = "0.8.0", features = ["defmt", "nrf52840", "time-driver-rtc1", "gpiote", "unstable-pac", "time", "net-driver"], optional = true}
embassy-stm32 = { version = "0.4.0", features = ["defmt", "stm32f411ce", "time-driver-any", "exti", "unstable-pac", "time"], optional = true}
embassy-hal-internal = { version = "0.3.0" }
embassy-net = { version = "0.7.1", features = ["defmt", "tcp", "dhcpv4", "medium-ethernet","udp", "medium-ieee802154", "proto-ipv6"] }
embassy-usb = { version = "0.5.1", features = ["defmt"] }
embedded-io = { version = "0.6.0", features = ["defmt-03"]  }
embedded-io-async = { version = "0.6.1", features = ["defmt-03"] }
embassy-net-esp-hosted = { version = "0.2.1", features = ["defmt"] }
embassy-net-enc28j60 = { version = "0.2.1", features = ["defmt"] }

defmt = "1.0.1"
defmt-rtt = "1.0.0"

fixed = "1.10.0"
static_cell = { version = "2" }
cortex-m = { version = "0.7.6", features = ["inline-asm", "critical-section-single-core"] }
cortex-m-rt = "0.7.0"
rand = { version = "0.9.0", default-features = false }
embedded-storage = "0.3.1"
usbd-hid = "0.8.1"
serde = { version = "1.0.136", default-features = false }
embedded-hal = { version = "1.0" }
embedded-hal-async = { version = "1.0" }
embedded-hal-bus = { version = "0.1", features = ["async"] }
num-integer = { version = "0.1.45", default-features = false }
microfft = "0.5.0"
portable-atomic = "1"



[package.metadata.embassy]
build = [
  { target = "thumbv7em-none-eabi", artifact-dir = "out/examples/nrf52840" }
]